:root{
    --card-outro-bg: purple;
}
.white-mode{
    --card-outro-bg: #1d976c;
}

/* container class */
.containers {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .containers {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .containers {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .containers {
      width: 1170px;
    }
}

.about-me-banner{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 70px;
    overflow: hidden;
}
.about-me-outline{
    margin-top: 50px;
    align-items: center;
    place-items: center;
    padding-right: 4em;
    flex: 2;
}
.about-me-banner-image{
    background-color: rgb(202, 39, 202);
    display: flex;
    justify-content: center;
    place-items: center;
    flex: 4;
    max-width: 350px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 1em;
}
div>h1{
    font-size: 2.9em;
    margin-bottom: 10px;
}
div>h4{
    font-weight: 600;
    font-size: 1.42em;
    font-variant: small-caps;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.tags{
    margin-top: 30px !important;
    padding: .25em;
    background-color: var(--card-outro-bg);
    margin: 0 auto;
    text-align: center;
    width: 13em;
    border-radius: 1em;
}
p{ 
    font-family: 'Poppins', sans-serif !important;
}
.journey-outline{
    overflow: hidden;
}
.journey-outline>h1{
    text-align: center;
    margin-bottom: 40px;
}
.span{
    border-bottom: 2px solid var(--card-outro-bg);
    padding-bottom: 10px !important;
}
.text-image { 
    float: left;  
} 
.text-image>img{
    max-width: 90%;

}
.story-text { 
    text-align: justify !important;
    font-size: 20px;
    word-spacing: 0px !important;
    margin-bottom: 50px;
} 

/* media query for classes  */
@media screen and (max-width: 700px){
    .about-me-banner{
        flex-direction: column;
    }
    .about-me-banner-image{
        margin-top: 20px;
    }
    .about-me-banner{
        margin-top: 60px;
    }
    .text-image{
        float: none;
        margin: 0px ;
    }
    .story-text{
        text-align: left;
        margin-top: 20px;
    }
    .about-me-outline{
        margin-top: 10px;
    }
    div>h1{
        font-size: 2.2em;
    }
    div>h4{
        font-size: 1.1em;
        margin-bottom: 10px;
    }
}