@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&display=swap');

*{
    margin: 0;
    box-sizing: border-box !important;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    outline: none !important;
}

body{
    background-color: var(--dark-mode-bg-color);
    color: var(--dark-mode-text-color);
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* for dark mode */
:root{
    --dark-mode-bg-color: #23252F;
    --dark-mode-text-color: #fff; 
    --dark-mode-border-line: purple;
    --span-h3-dark-mode: rgb(202, 39, 202);
    --banner-button: purple;
    --card-bg-color: #303241;
    --carousel-bg: #303241;
    --comment-card-bg-color: #303241;
    --smaller-card-bg-color: rgb(29, 23, 23);
    --flex-container-bg-color: #3b385c;
    --comment-sect-bg-color: rgb(29, 23, 23);
    --svg-container-bg: #1A1C23;
    --top-nav-color: purple;
    --small-card-button-color: #fff;
    --footer-text-color: rgb(30, 196, 30);
    --card-outro-bg:  purple;
    --outro-button-bg: black;
    --active-color: rgb(255, 30, 169);
    --progess-bg: rgba(202, 12, 202, 0.822);
}

/* for white mode */
.white-mode{
    --dark-mode-bg-color: #fff;
    --dark-mode-text-color: #031926; 
    --dark-mode-border-line: #1d976c;
    --span-h3-dark-mode: #1d976c;
    --banner-button: #1d976c;
    --card-bg-color: #F5EEED;
    --carousel-bg: #f2EEED;
    --comment-card-bg-color: #fff;
    --smaller-card-bg-color: #fff;
    --comment-sect-bg-color: #F5EEED;
    --flex-container-bg-color: #F3EEEA;
    --svg-container-bg: #f2EEEC;
    --top-nav-color: #93f9b9;
    --footer-text-color: rgba(233, 14, 14, 0.87);
    --outro-button-bg: white;
    --active-color: #1c9269cb;
    --small-card-button-color: rgb(29, 23, 23);
    --card-outro-bg:  linear-gradient(to right, #1d976c, #93f9b9);
    --progess-bg: #4caf50;
}

/* top navigation for all pages */
.top-nav{
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: .7em;
}
.top-nav :is(a){
    font-size: 1rem;
    font-weight: 600;
    color: white !important;
    margin-right: 6px;
    font-family: sans-serif !important;
}
.top-nav :is(a):hover{
    text-decoration: underline;
}
.top-nav :is(ion-icon){
    font-size: 20px;
    color: rgba(15, 199, 231, 2) !important;
}


/* mobile nav bar */
.contain{
    justify-content: center;
    display: flex;
}
.flex-container{
    width: 94vw;
    display: flex;
    bottom: 1.7%;
    padding-top: .75rem;
    padding-bottom: .75rem;
    z-index: 999999;
    position: fixed;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    overflow: hidden;
    place-items: center;
    justify-content: space-evenly;
    background-color: var(--flex-container-bg-color);
    border-radius: 1.25rem;
    max-height: 5em;
}
.flex-container a ion-icon{
    position: relative;
    font-size: 1.3em;
    margin-left: 8px;
}
.projects-button ion-icon{
    margin-left: 10px;
}
a>h4{
    font-size: .95rem;
    margin-top: 5px;
    font-weight: 500;
    line-height: 1rem;
}
.flex-container a{
    display: block;
}
.selected{
    color: var(--active-color);
}


/* mobile navigation sidebar */
.sidebar{
    transition: all .6s ease-in-out;
    position: fixed;
    left: -260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* overflow-y: scroll; */
    padding: 10px;
    width: 260px;
    top: 0;
    height: 100%;
    z-index: 9999999 !important;
    background: var(--card-bg-color);
}
.close-menu{
    display: flex;
    align-items: center;
}
.menu-btn{
    margin-left: 7px;
    /* padding-right: 38px; */
    display: flex;
    justify-content: flex-end !important;
    cursor: pointer;
}
.menu-btn:hover{
    color: rgb(231, 14, 14);
}
.menu-btn p {
    margin-top: -4px;
    margin-left: 2px;
}
#color-mobile{
    margin-left: 38px;
    margin-top: 2px;
}
.sidebar header{
    margin-top: 5px;
    display: flex;
    padding: 12px;
    text-align: center;
    align-items: center;
    place-items: center;
    line-height: 3px;
}
header img{
    border: 5px solid var(--banner-button);
}
header h2{
    font-size: 23px;
    margin-top: -30px;
    padding-left: 16px;
}
.sidebar ul li{
    text-decoration: none;
    list-style: none !important;
}
.sidebar ul li a{
    display: block;
    width: 100%;
    box-sizing: border-box !important;
    line-height: 70px;
    font-size: 18px;
    transition: .4s;
}
.sidebar ul li:hover a{
    padding-left: 10px;
    text-decoration: underline;
}
.sidebar ul a ion-icon{
    margin-right: 20px;
}
.sidebar .icon-list{
    margin-top: 40px;
    padding-left: 10px;
}
.sidebar .icon-list a ion-icon{
    margin: 2px;
}


/* laptop's navbar */
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center !important;
    font-size: 18px;
    justify-content: flex-start;
    margin-top: 5px;
}
.logo img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 16px;
    margin-left: 20px;
}
.navigation {
    justify-content: flex-end;
    display: flex;
    list-style: none;
}
.color-switch{
    margin-top: -6px;
    font-size: 30px;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: var(--dark-mode-text-color);
}
.hire-now{
    background: var(--card-bg-color);
    border-radius: .7rem;
    transition: .3s;
}
.hire-now:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    margin-top: -3px;
}
.nav-links{
    text-decoration: none;
    display: block;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;   
    margin-right: .5em;
    cursor: pointer;
    font-size: 17px;
    color: var(--dark-mode-text-color);;
}
.nav-links:hover{
    background-color: var(--card-bg-color);
    border-radius: .5rem;
}


/* banner or hero section */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;    
}
.intro{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 35px;
    /* animation-name: leFadeIn; */
}
.intro h1{
    animation-name: leFadeIn;
    animation-duration: 4s;
}
@keyframes leFadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}
div>h3{
    text-align: center !important;
    word-spacing: 3px;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--dark-mode-text-color);
}
.intro h1{
    font-size: 4rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    word-spacing: 3px;
}
h3>span{
    color: var(--span-h3-dark-mode); 
    text-align: center;
    
}
button{
    padding: .75rem 2.5rem;
    cursor: pointer;
    border-radius: .75rem !important;
    transition: all .3s ease-in-out;
    border: none;
}
.hero-button button{
    background: var(--banner-button);  
    color: var(--dark-mode-text-color);
    font-weight: 500;
    font-size: 16px;
}
button:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}


/* home page images section  */
.img-container{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.banner-image{
    max-width: 1000px;
    border: 10px solid var(--span-h3-dark-mode);
}


/* information about skills and web  */
.web-info{
    margin-top: 80px;
}
.web-info h1{
    text-align: center;
    font-weight: 600;
    word-spacing: 4px;
    font-size: 2.5rem;
    margin-bottom: 45px;
}
.row{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 30px;
}
.col{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.col h2{ 
    letter-spacing: 1.2px;
    font-size: 24px;
    padding-bottom: 3px;
}
/* further services info  */
.more-services{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    cursor: pointer;
}
.more-services a{
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 8px;
    border-bottom: solid var(--banner-button) 3px;
    color: var(--dark-mode-text-color) !important;
    text-decoration: none;
    transition: all .3s ease-out;
}
.more-services a:hover{
    color: rgb(168, 51, 168) !important;
    border-bottom: solid white 3px;
    text-decoration: none !important;  
}


/* portfolio home page card */
.card-container{
    margin: 85px 50px !important;
    display: flex;
    justify-content: center;
}
.card{
    width: 65rem;
    border-radius: .9rem !important;
    height: 363px;
    margin: 0 auto !important;
    padding: 28px;
    background-color: var(--card-bg-color);
}
.card-content{
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
}
.passport>img{
    margin-top: -100px;
    margin-left: -85px;
    margin-right: -85px;
}
/* section two of portfolio card */
.smaller-card{
    flex: 5;
    width: 100%;
    height: 80%;
    border-radius: .9rem;
    background-color: var(--smaller-card-bg-color);
    color: var(--dark-mode-text-color);
    padding: 3em;
}
.smaller-card h1{
    font-size: 2.4em;
}
.smaller-card p{
    margin-top: 23px;
    font-size: 18px;
}
.smaller-card button{
    margin-top: 35px;
    border-radius: .75rem !important;
    font-weight: 600;
    font-size: 16px;
    padding: .75rem 2.5rem;
    transition: all .3s ease-in-out;
    margin-bottom: 10px;
    background: var(--small-card-button-color); 
    color: var(--dark-mode-bg-color);
}


/* people's comment section */
.comments-card{
    margin-top: 90px;
    background-color: var(--comment-sect-bg-color);
    padding-top: 3em;
}
.people-comments{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 80px;
    margin-top: 50px;
}
.topic-outline{
    display: flex;
    flex-direction: column;
    flex: 4;
    padding: 0 1.5em;
}
.topic-outline h1{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.topic-outline p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
/* section two of comment card  */
.comment-card{
    columns: 2;
    column-gap: 1em;
    flex: 4;
}
.comment-card>div{
    background-color: var(--comment-card-bg-color);
    border-radius: .9rem;
    color: var(--dark-mode-text-color);
    padding: 1.2em;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}
.commentor{
    margin-top: 14px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.commentor img{  
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: -7px;
}
.statements p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.c-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 18px !important;
    text-align: left !important;
    font-weight: 600;
}
/* tools i use section  */
.tools-used>h1{
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    margin-top: 70px;
    padding-bottom: 20px;
}
.tools-list{
    margin-bottom: 90px !important;
}

/* last card of home page  */
.outro-card{
    display: block;
    margin-bottom: 150px !important;
    margin-top: 60px;
}
.card-outro{
    width: 65rem;
    margin: 120px auto;
    overflow: hidden;
    padding-left: 1.6em;
    padding-right: 1.6em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: .9rem;
    background: var(--card-outro-bg); 
}
.card-outro>button{
    background-color: var(--outro-button-bg);
    color: var(--dark-mode-text-color);
    font-weight: 600;
    font-size: 16px;
    transition: all .3s ease-in-out;
    padding: .75rem 2.5rem;
}
.card-outro h1{
    font-size: 2.3rem;
    padding-bottom: .4em;
}
.card-outro p{
    padding-bottom: 2em;
    font-size: 1em;
    word-spacing: 4px;
}

/* footer ! */
footer{
    margin-top: 100px;
    margin-bottom: 50px;
}
.footer-image{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-bottom: 30px;
}
.footer-grid{
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 600px 200px;
}
/* footer contents */
.first-grid h2{
    font-size: 24px;
    font-style: normal;
    margin-bottom: 20px;
}
.first-grid p{
    margin-top: 10px;
    margin-bottom: 25px;
    word-spacing: 2px;
}
.first-grid span{
    color: var(--footer-text-color);
    font-size: 17px;
}
.first-grid span:hover{
    text-decoration: underline !important;
    cursor: not-allowed;
}
.second-grid{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}
.second-grid h4{
    font-size: 19px;
    margin-bottom: 18px;
}
.second-grid a{
    margin-bottom: 29px;
    font-size: 16px;
    font-weight: normal !important;
    list-style-type: none;
}
.second-grid a:hover{
    text-decoration: underline;
    color: blueviolet;
    cursor: cell;
}
.line-container{
    display: flex;
    place-items: center !important;
    justify-content: center !important;
}
.line{
    width: 90%;
    border-top: 3px solid #4c4e5c;
    margin-bottom: 20px;
}
.copyright{
    margin-left: 5%;
    margin-bottom: 50px;
}
.footer-icon{
    font-size: 28px !important;
    padding-right: 4px;
    cursor: pointer;
}
.icon-list{
    margin-top: 30px;
}
div>h2{
    margin-bottom: 14px !important;
    font-weight: bold;
}

  /* contact page css here !!!!! */
.page-topic{
    margin-bottom: 100px;
    margin-top: 150px;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.page-topic h1{
    font-size: 65px;
    margin-bottom: 150px;
}
.page-topic p{
    padding: 0 10px;
    margin-bottom: 20px;
}
.contact-me>a{
    text-decoration: none;
    font-weight: 400;
    font-size: medium;
    color: var(--footer-text-color);
    transition: all .2s ease-out;
}
.contact-me>a:hover{
    text-decoration: underline;
    color: rgb(255, 208, 0);
}
.contact-me>p{
    margin-bottom: 20px;
    padding: 0 10px;
}


/* <<<<<<<<<<<<<<< helpful classes */
.progress-container {
    position: fixed;
    top: 0;
    z-index: 999999999;
    width: 100%;
    height: 5px;
  }
.progress-bar {
    height: 6px;
    background: var(--progess-bg);
    width: 0%;
    transition: all .3s ease-out;
}
.bulb{
    color: #1d976c !important;
}
.scroll-container{
    width: 2.5em;
    position: fixed;
    right: 2%;
    bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    cursor: pointer;
    z-index: 9999999999;
    background: var(--card-bg-color);
    border-radius: 50%;
    color: var(--banner-button);
    transition: all .5s ease-in;
}
.scroll-container ion-icon{
    font-size: 1.7em;
}
.carousel {
    margin: 40px auto;
    max-width: 65rem;
}
.carousel>button{
    background: none !important;
    color: var(--dark-mode-text-color);
}

.carousel-cell {
    width: 33%;
    height: 200px;
    margin-right: 5px;
}
 
.carousel-cell-image {
    display: block;
    max-height: 100%;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}
  
.svg-container{
    background-color: var(--svg-container-bg);
    width: 4em;
    height: 4em;
    border-radius: 1rem;
    padding: .8em;
    display: flex;
    align-items: center;
    justify-items: center;
    place-items: center;
    margin-right: 20px;
}
.svg-icon {
    width: 2.2em !important;
    height: 2.2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: var(--dark-mode-text-color);
}

.svg-icon circle {
    stroke: var(--dark-mode-text-color);
    stroke-width: 1;
}

/* media queries for helpers classes */
@media (min-width: 1400px) {
    .container {
        width: 1300px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1000px) {
    .flex-container{
        display: none !important;
    }
}


 /* end of helpful tools >>>>>>>>>>>>>>>>>>>>> */


  
