/* media query for bigger screens*/
@media screen and (max-width: 1399px) and (min-width: 1000px){
    .row, .people-comments{
        margin-left: 25px;
        margin-right: 25px;
    }
}

/* media query for phone and bigger phones */
@media screen and (max-width: 501px){
    nav{
        display: none;
    }
    .slogan{
        font-size: 1.125rem;
    }
    .tools-used h1{
        font-size: 2rem;
    }
    .glow-text{
        display: none;
    }
    .top-nav :is(a){
        font-size: 12px;
    }
    div>h3{
        padding: 1em;
        margin-bottom: -1.4em;
    }
    .intro{
        width: 100%;
        padding-right: .5em;
        padding-left: .5em;
    }
    .intro h1{
        font-size: 2.2em;
        line-height: 2.73rem;
        text-align: center;
        margin-bottom: 12px;
        margin-top: 10px;
    }
    .loader-image{
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
    }
    .hero{
        margin-top: 65px;
    }
    .web-info h1{
        width: 90%;
        display: block;
        margin: -15px auto;
        font-size: 1.8rem;
        margin-bottom: 40px !important;
    }
    .card-outro{
        width: 100% !important;
        height: auto;
    }
    .card-outro h1{
        font-size: 1.8rem;
    }
    .card-container{
        margin: 90px 0px !important;
        padding: 2px;
    }
    .card{
        width: 100% !important;
        height: 100%;
        padding: 17px;
        overflow: hidden;
    }
    .card-content{
        display: flex;
        flex-direction: column !important;
    }
    .passport img{
        margin-bottom: -15px;
        margin-left: -75px;
    }
    .people-comments{
        flex-direction: column;
        margin-top: 0px !important;
    }
    .comment-card{
        margin-top: 50px;
        width: 100%;
        overflow-x: scroll !important;
        scroll-snap-type: x proximity;
        display: grid;
        padding-left: 1em;
        padding-right: 1em;
        grid-template-columns: auto auto;
    }
    .comment-card::-webkit-scrollbar {
        width: 0em !important;
        display: none !important;
    }
    .comment-card>div{
        width: 16em;
        font-size: 16px;
    }
    .third-card{
        height: 15em !important;
        margin-top: -5px !important;
    }
    .second-card{
        height: 14em !important;
        margin-top: 40px !important;
    }
    .fourth-card{
        margin-top: -123px !important;
        height: 18em;
    }
    .commentor{
        margin-top: 5px;
        display: flex;
        align-items: center !important;
    }
    .profile-image img{  
        width: 3.8em;
        height: 3.8em;
        border-radius: 50%;
        margin-right: 7px;
        margin-left: -6px;
        margin-top: 10px;
    }
    .statements{
        display: block;
        margin-left: -2px;
        margin-top: -5px;
    }
    .statements p{
        text-align: left;
        font-size: 14px;
        font-weight: 400;
        margin-left: 9px;
        margin-top: 7px;
        line-height: 1em;
    }
    .c-name{
        text-align: left !important;
        flex: 1;
        font-size: 17px !important;
        text-align: left !important;
        font-weight: 600;
    }
    form{
        width: 96%;
        padding: 0 17px;
        margin-top: -5px;
    }
    .second-grid{
        margin-left: 0px;
    }
    /* section two of comment card  */
    .topic-outline{
        padding: 1em 1em !important;
        margin-bottom: 55px;
    }
    .topic-outline h1{
        text-align: center;
        font-size: 1.8em;
        padding-bottom: 12px;
    }
    .topic-outline p{
        text-align: center;
    }
    .banner-image{
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: none;
    }
    .info-list{
        display: flex;
        flex-direction: column;
    }
    .smaller-card{
        margin-top: -135px;
        padding: 1.5em 1em;
    }
    .smaller-card h1{
        font-size: 30px;
        text-align: center;
    }
    .smaller-card p{
        text-align: center;
        margin-top: 15px;
        padding: 2px;
    }
    .smaller-card button{
        display: block;
        margin: 25px auto !important;
    }
    .row{
        grid-template-columns: auto;
        grid-row-gap: 40px;
        margin: 0px !important;
    }
    .footer-grid{
        margin-bottom: 80px;
        display: grid;
        grid-template-columns: auto;
        margin-left: -25px !important;
    }
    .second-grid{
        margin-top: 30px;
    }
    .tags{
        display: none !important;
    }
    .copyright{
        margin-bottom: 100px;
    }

    /* contact page media  query for same screen  */
    .page-topic>h1{
        font-size: 2.2em;
        margin-bottom: 100px;
    }
    .page-topic{
        margin-bottom: 110px;
        margin-top: 70px;
        text-align: center;
    }
}


/* media query for tablets only! */
@media screen and (max-width: 780px) and (min-width: 502px) {
    form{
        width: 90%;
        padding: 0 17px;
        margin-top: 5px;
    }
    .second-grid{
        margin-left: 0px;
    }
    nav{
        display: none;
    }
    .intro{
         width: auto;
    }
    header{
        font-size: 1.4em !important;
    }
    .intro h1{
        font-size: 2.35em;
    }
    .hero{
        margin-top: 90px;
    }
    .web-info h1{
        font-size: 2.2rem;
    }
    .card-outro{
        width: auto !important;
        height: auto;
        margin: 20px;
    }
    .card-outro h1{
        font-size: 1.8rem;
    }
    .card-container{
        margin: 90px 20px !important;
    }
    .card{
        width: 100% !important;
        height: 100%;
        overflow: hidden;
    }
    .card-content{
        display: flex;
        flex-direction: column !important;
    }
    .passport img{
        margin-left: -40px;
    }
    .people-comments{
        flex-direction: column;
    }
    .topic-outline{
        padding: 2.5em;
        margin-bottom: 20px;
    }
    .topic-outline h1{
        font-size: 2.1em;
        text-align: center;
        padding-bottom: 12px;
    }
    .topic-outline p{
        text-align: center;
    }
    .banner-image{
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: none;
    }
    .info-list{
        display: flex;
        flex-direction: column;
    }
    .smaller-card{
        margin-top: -120px !important;
        padding: 20px;
        z-index: 9999;
    }
    .smaller-card h1{
        font-size: 30px;
        text-align: center;
    }
    .smaller-card p{
        text-align: center;
        margin-top: 15px;
        padding: 2px;
    }
    .smaller-card button{
        display: block;
        margin: 25px auto !important;
    }
    .row{
        grid-template-columns: auto;
        grid-row-gap: 10px;
        margin: 0px !important;
    } 
    .footer-grid{
        margin-bottom: 80px;
        display: grid;
        grid-template-columns: auto;
        margin-left: -20px !important;
    }
    .second-grid{
        margin-top: 25px !important;
    }
    .tags{
        display: none !important;
    }
    .copyright{
        margin-bottom: 100px;
    }

    /* contact page media for same screen  */
    .page-topic>h1{
        font-size: 2.2rem;
        margin-bottom: 100px;
    }
    .page-topic{
        margin-bottom: 80px;
        margin-top: 120px;
        text-align: center;
    }
}


@media screen and (max-width: 1003px) and (min-width: 781px){ 
    .footer-grid{
        grid-template-columns: auto auto;
    }
    nav{
        display: none;
    }
    .intro{
        width: auto;
    }
    /* contact page media for same screen  */
    .page-topic>h1{
        font-size: 2.7rem;
        margin-bottom: 100px;
    }
    .page-topic{
        margin-bottom: 100px;
        margin-top: 100px;
        text-align: center;
    }
    .flex-container{
        width: 70vw;
    }
}

/* media query for extra small phones */
@media screen and (max-width: 1111px) and (min-width: 781px){ 
    .footer-grid{
        grid-template-columns: auto auto;
    }
    .card-outro{
        width: auto !important;
        height: 100%;
        margin: 20px;
    }
    .banner-image{
        width: 100%;
    }
    .port-card{
        width: 100%;
    }
    .people-comments{
        flex-direction: column;
    }
    .row{
        grid-template-columns: auto auto;
    }
}

/* media query for phone and bigger phones */
@media screen and (max-width: 400px){
    .flex-container>a{
        padding: 1em;
    }

}