*{
    margin: 0;
    box-sizing: border-box;
}


/* container class */
.containers {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto !important;
  }
  @media (min-width: 768px) {
    .containers {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .containers {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .containers {
      width: 1000px;
    }
}


/* page css */
.project{
    display: grid;
    grid-template-columns: 750px auto;
    margin-top: 100px;
}
.project:hover .image-container img{
  transform: translateY(-8px);
}
.image-container img{
  max-width: 90%;
  border-radius: .5em;
  display: block;
  margin: 0 auto;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  transition: all .3s ease-in;
}

.project-info{
  margin-top: 70px !important;
  width: 90%;
  display: block;
}
.project-info h1{
  margin-top: 10px;
  font-size: 34px;
  font-weight: normal;
  margin-bottom: 15px;
}
.project-info p{
  font-size: 15px;
  margin-bottom: 20px;
  color: #696c72;
  font-family: 'Poppins', sans-serif !important;
}
.project-info a{
  color: #fa1143;
  font-size: 20px;
  font-weight: 100 !important;
  display: flex;
  align-items: center;
}
.project-info a ion-icon{
  font-size: 27px;
  margin-top: 2px;
  margin-left: 3px;
}
.project-info a:hover{
  text-decoration: underline;
  text-decoration-thickness: 0;
}
.tag{
    margin: 15px auto !important;
    width: 90%;
    display: block;
}
.tag span{
    font-size: 12px;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .75em;
    padding-left: .75em;
    margin-right: 1px;
    border-radius: 1em;
    background:  var(--banner-button);
    transition: .5s;
}
.tag span:hover{
    transform: translateY(6px);
    background: var(--card-bg-color);
}





/* media query for project page  */
@media screen and (max-width: 1030px){
    .project{
        margin-top: 90px !important;
        grid-template-columns: auto;
    }
    .project-info{
        margin: 20px auto !important;
        width: 90%;
        display: block;
    }    
    .image-container img{
      display: block;
      margin: 10px auto;
      max-width: 90%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 701px){

}
